<fieldset class="form-group border p-3 af-flg">
    <legend class="w-auto px-2">@Caption</legend>
    <div class="row">
        @ChildContent
    </div>
</fieldset>

@code {
    
    [Parameter]
    public string Caption { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}