@using System.ComponentModel

<div class="mb-3 col-md-@ColSpanMd af-fli">
    <label class="control-label col-sm-2">
        @Caption
    </label>
    <div class="controls col-sm-10">
        @ChildContent       
    </div>
    
</div>


@code {
    
    [Parameter]
    public string Caption { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public int ColSpanMd { get; set; } = 6;


}