<fieldset class="form-group border g-3 p-3 af-flg col-md-@ColSpanMd">
    <legend class="w-auto px-2 af-flg-cpt">@Caption</legend>
    <div class="row">
        @ChildContent
    </div>
</fieldset>


@code {

    [Parameter]
    public int ColSpanMd { get; set; } = 12;
    
    [Parameter]
    public string Caption { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}