<h3>EventInput</h3>

<DxFormLayout CaptionPosition="CaptionPosition.Horizontal">
    <DxFormLayoutItem><ArborDateInput Text="@Date"></ArborDateInput></DxFormLayoutItem>
</DxFormLayout>

@code {
    private string Date { get; set; }
}