html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/**
    Form layout stuff
 */

.af-flg {
    
}

.af-flg-columns {
    display: flex;
    flex-direction: row;
}

/*.af-flg .af-fli {*/
/*    -webkit-box-orient:horizontal;*/
/*    -webkit-box-direction: normal;*/
/*    -webkit-flex-flow: row nowrap;*/
/*    -ms-flex-flow: row nowrap;*/
/*    flex-flow: row nowrap;*/
/*    display: flex;*/
/*}*/

/*.af-flg .af-fli>.af-fli-cpt {*/
/*    -webkit-box-flex: 1;*/
/*    -webkit-flex: 1 0 auto;*/
/*    -ms-flex: 1 0 auto;*/
/*    flex: 1 0 auto;*/
/*    align-self: flex-start;*/
/*    margin: 0;*/
/*    padding-left: 0;*/
/*    width: auto;*/
/*}*/


/*.af-flg .af-fli>.af-fli-ctrl {*/
/*    width: 100%;*/
/*    -webkit-box-flex: 1;*/
/*    -webkit-flex: 1 1 auto;*/
/*    -ms-flex: 1 1 auto;*/
/*    flex: 1 1 auto;*/
/*    min-width: 0*/
/*}*/

/*@media (min-width: 992px) {*/
/*    .af-flg .af-fli>.af-fli-cpt {*/
/*        white-space:nowrap;*/
/*    }*/

/*    .af-flg .af-fli>.af-fli-ctrl:not(img) {*/
/*        width: 90%*/
/*    }*/

/*    .af-flg .af-fli>.af-fli-ctrl {*/
/*        -webkit-align-self: flex-start;*/
/*        -ms-flex-item-align: start;*/
/*        align-self: flex-start*/
/*    }*/

/*    .af-flg:not(.dxbl-fl-calc) .af-fli>.af-fli-cpt {*/
/*        overflow: hidden;*/
/*        text-overflow: ellipsis;*/
/*    }*/
/*}*/

