@page "/"
@page "/dashboard"
@inherits BasePageComponent
@using ArborFamiliae.Hybrid.Services
@using ArborFamiliae.Data
@using ArborFamiliae.Data.Models
@inject ArborFamiliaeContext Context;

<h3>@Loc["Dashboard"]</h3>

@code {

    
    
    protected override async Task OnInitializedAsync()
    {
        if (ConnectionStringService.ConnectionString == "")
        {
            NavigationManager.NavigateTo("/connect");
        }
        
    }

}