@page "/person/add"
@inherits BasePageComponent
@using ArborFamiliae.Domain.Person
@inject IPersonService PersonService

<h3>@Loc["Add Person"]</h3>

<PersonEditForm Model="model" PersonSave="OnSave">
    
</PersonEditForm>

@code {
    private PersonAddEditModel model;

    protected override void OnInitialized()
    {
        model = new PersonAddEditModel();
    }

    private async Task OnSave()
    {
        await PersonService.AddEditPerson(model);
        NavigationManager.NavigateTo("/person/list");
    }

}